<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="auth-card">
        <h1>Login</h1>
        {% if error %}
            <div class="error">{{ error }}</div>
        {% endif %}
        <form method="post">
            <input type="text" name="username" placeholder="Username" required>
            <input type="password" name="password" placeholder="Password" required>
            <button type="submit">Login</button>
        </form>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
<script>
    function getCookie(name){
        return document.cookie.split("; ").find(row=>startsWith(name+"="))?.split("=")[1];
    }
    document.addEventListener("DOMContentLoaded",()=>{
        const token = getCookie("access_token");

        document.querySelectorAll("form").forEach(form=>{
            from.addEventListener("submit", async(e)=>{
                e.preventDefault();
                const formData = new FormData(form);
                const response = await fetch(from.action,{
                    method:form.method,
                    headers:{
                        "Authorisation":`Bearer $ {token}`   //jwt sent in header
                    }, body: new URLSearchParams(formData)
                });
                if(response.redirected){
                    window.location.href = response.url;
                }
            });
        });
    });
</script>
</body>
</html>